install
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
selinux --permissive
timezone UTC
unsupported_hardware
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
part / --fstype="ext4" --grow --size=100
auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant
url --url=http://centos.osuosl.org/7/os/x86_64
repo --name=updates --baseurl=http://centos.osuosl.org/7/updates/x86_64

%packages --nobase --ignoremissing
@^minimal-environment
openssh-clients
sudo
wget
%end

%post
yum -y upgrade
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
