#version=RHEL8
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw osuadmin
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
reqpart
part / --fstype="ext4" --grow --size=100
firstboot --disabled
reboot
url --url=http://centos.osuosl.org/8-stream/BaseOS/aarch64/os/
repo --name=AppStream --baseurl=http://centos.osuosl.org/8-stream/AppStream/aarch64/os/

%packages --ignoremissing
@^minimal-environment
openssh-clients
sudo
wget
%end

%post
yum -y upgrade
%end
