#version=RHEL8
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
part / --fstype="ext4" --grow --size=100
firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant
url --url=http://almalinux.osuosl.org/8/BaseOS/x86_64/os/
repo --name=AppStream --baseurl=http://almalinux.osuosl.org/8/AppStream/x86_64/os/

%packages --ignoremissing
@^minimal-environment
openssh-clients
sudo
wget
%end

%post
yum -y upgrade
# sudo
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
