#version=RHEL8
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw osuadmin
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
reqpart
part / --fstype="ext4" --grow --size=100
firstboot --disabled
reboot
url --url=http://dl.rockylinux.org/$contentdir/$releasever/BaseOS/$basearch/os/
repo --name BaseOS --baseurl http://dl.rockylinux.org/$contentdir/$releasever/BaseOS/$basearch/os/
repo --name AppStream --baseurl http://dl.rockylinux.org/$contentdir/$releasever/AppStream/$basearch/os/

%packages --ignoremissing
@^minimal-environment
openssh-clients
sudo
wget
%end

%post
yum -y upgrade
%end
