lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
reqpart
part / --fstype="ext4" --grow --size=100
firstboot --disabled
reboot
user --name=vagrant --plaintext --password vagrant
url --url=http://almalinux.osuosl.org/9/BaseOS/x86_64/os/
repo --name=AppStream --baseurl=http://almalinux.osuosl.org/9/AppStream/x86_64/os/

%packages --exclude-weakdeps --ignoremissing
@^minimal-environment
-dracut-config-rescue
-firewalld
-*firmware
dracut-config-generic
grub2-pc
openssh-clients
sudo
tar
wget
%end

%post
yum -y upgrade
# sudo
echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
